.App {
  text-align: center;
}



h1,h2{
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.my-profile {
  display: flex;
  padding: 35px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(16, 97, 173, 0.168);
  color: #c01b81;
  font-size: 45px;  
}
.user-card {
  border: 1px solid rgba(0, 0, 0, 0.233);
  width: 450px;
  height: 330px;
  margin: 15px auto;
  padding: 0.5rem;
  text-align: center;
}
.avatar{
  margin-left: 38.5%;
}
.btn{
  margin-left:47%;
}



